name: test-clang-format

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: '.'
        extensions: 'h,c,cu'
        clangFormatVersion: 20